# Ignore everything by default:
/*
/*/

# But allow those files and folders:
!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github
!/.npmrc
!/.vscode
!/test
!/packages
!/package.json
!/azure-pipelines.yml
!/greenkeeper.json

# But make sure to ignore those regardless:
/test/tmp
WAS *
