# Ignore everything by default:
/*
/*/

# But allow those files and folders:
!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github
!/.npmrc
!/.prettierignore
!/.vscode
!/packages
!/package.json

# TODELETE after restructuring
!/test

# But make sure to ignore those regardless:
package-lock.json
/packages/webpack-config-*/node_modules
/packages/webpack-config-*/test/*/dist
